#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
# By default, the examples support both mnemonic-based and private key-based authentication
#
# You don't need to set both of these values, just pick the one that you prefer and set that one
INFURA_API_KEY=INFURA_API_KEY
MNEMONIC=MNEMONIC
PRIVATE_KEY=PRIVATE_KEY
ROOTSTOCK_RPC_URL=https://rpc.testnet.rootstock.io
ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/${INFURA_API_KEY}
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology
BSC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

ETHERSCAN_API_KEY=ETHERSCAN_API_KEY
BSCSCAN_API_KEY=POLYGONSCAN_API_KEY
POLYGONSCAN_API_KEY=POLYGONSCAN_API_KEY
ROOTSTOCK_API_KEY=aROOTSTOCK_API_KEY
API_KEY=aAPI_KEY

ETH_CONTRACT=ETH_CONTRACT
BSC_CONTRACT=BSC_CONTRACT
POLY_CONTRACT=POLY_CONTRACT
AVA_CONTRACT=AVA_CONTRACT
ROOT_CONTRACT=ROOT_CONTRACT

WALLET_SENDER=WALLET_SENDER
WALLET_RECEIVER=WALLET_RECEIVER
WALLET_RECEIVER=WALLET_RECEIVER

EID_AMOY=40267
EID_BSC=40102
EID_SEPOLIA=40161
EID_FUJI=40106
EID_ROOT=40350
